* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary-color: #4A8EF9;
  --bg-light: white;
  --bg-neutral: #F2F5F7;
  --font-color: #171717;
}

body {
  display: flex;
  background-color: var(--bg-light);
}

#menu {
  display: flex;
  flex-direction: column;

  min-width: 15rem;
  min-height: 100vh;
  padding: 1rem 2rem;

  background-color: var(--bg-neutral);
}

#menu__projects {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;
}

#workspace {
  width: 100%;
  max-width: 800px;
  padding: 2rem 4rem;
  margin: 0 auto;
}

@keyframes outline-effect {
  from {
    box-shadow: 0 0 5px 5px var(--primary-color);
  }

  to {
    box-shadow: 0 0 0 0 var(--primary-color);
  }
}
/* #content {
  background-color: blue;
  width: min(100%, 2000px);
} */
.item-content {
  --priority-color: var(--primary-color);
  display: block;
  margin: 1rem 0;
  background-color:wheat;

  padding: .5rem;
  border-radius: 4px 0 0 4px;
  
  border-right: 8px solid var(--priority-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.item-content > * {
  display: flex;
  align-items: center;
}

.red-priority {
  --priority-color:red;
}

.item-state {
  display: none;
}

.item-more-info {
  height: 0;
  transform: scaleY(0);
}

.remove-btn,
.edit-btn {
  display: block;
  margin-left: auto;
  padding: 0.25rem .5rem;

  border-radius: 4px;
}

.item-state:checked + .item-content .item-more-info {
  height: auto;
  transform: scaleY(1);
}

.item-toggle {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid black;
  border-radius: 4px;
  background-color: transparent;
}

.item-toggle[data-checked="true"]::before {
  content: '✔️';
}
.item-toggle[data-checked="true"] + * {
  text-decoration: line-through;
}

.modal-wrapper {
  position: absolute;
  display: none;

  min-width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal {
  margin: 0 auto;
  width: 90%;
  max-width: 400px;

  padding: 1rem 2rem;
  background-color: white;

  border-radius: 4px;
}

.modal label,
.modal input,
.modal textarea {
  display: block;
}