@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;

  --primary-color: #4A8EF9;
  --bg-light: white;
  --bg-neutral: #F2F5F7;
  --font-color: #171717;

  --toggle-size: 1.5rem;
  --spacing: .5rem;
  --border: 8px;
}

body {
  display: flex;
  background-color: var(--bg-light);
}

a, 
button {
  cursor: pointer;
}

#menu {
  display: flex;
  flex-direction: column;

  min-width: 15rem;
  min-height: 100vh;
  padding: 1rem 2rem;

  background-color: var(--bg-neutral);
}

#menu__projects {
  display: flex;
  flex-direction: column;

  margin: 1rem 0;
}

#workspace {
  width: 100%;
  max-width: 800px;
  padding: 2rem 4rem;
  margin: 0 auto;
}

/* Item input section */
.input-section {
  display: flex;
  gap: 1%;
}

.input-section input {
  flex: auto;
  background-color: transparent;
  border: none;
  text-align: center;

  padding: 0.5em;
}

.input-section button {
  display: none;
  padding: 0.5em 0.6em;
  
  color: white;
  background-color: #171717;

  border: none;
  border-radius: var(--border);
}

#item-input,
#add-item-button {
  font-size: 1.2rem;
}

.input-section input:not(:placeholder-shown) + button {
  display: inline-block;
}

.project-info {
  max-width: 400px;
  margin-bottom: 1rem;
}

.conteiner {
  display: flex;
  align-items: center;
  gap:var(--spacing);
}

.item-content {
  --priority-color: var(--primary-color);

  display: block;  
  background-color: var(--bg-light);

  border-radius: var(--border) 0 0 var(--border);
  border-right: 8px solid var(--priority-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

  margin: 1rem 0;
  padding: var(--spacing);

  transition: all 200ms ease-in;
}

.item-content.priority-0 {
  --priority-color:blue;
}

.item-content.priority-1 {
  --priority-color:green;
}

.item-content.priority-2 {
  --priority-color:red;
}

.item-state {
  display: none;
}

.item-resume {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

.item-more-info {
  display: flex;
  flex-direction: column;
  
  margin-left: calc(var(--spacing) + 1.6rem);
  gap:var(--spacing);

  transform-origin: top;
  transition: all 100ms ease-in;
}

.item-state:checked + .item-content {
  transform: translateX(10px);
}

.item-state:not(:checked) + .item-content .item-more-info {
  overflow: hidden;
  height: 0;
}

.item-toggle {
  width: var(--toggle-size);
  height: var(--toggle-size);
  border: 2px solid black;
  border-radius: var(--border);
  background-color: transparent;
}

.item-toggle[data-checked="true"]::before {
  content: '✔️';
}

.item-toggle[data-checked="true"] + * {
  text-decoration: line-through;
}

.item-button-section {
  display: flex;
  gap: 0.25rem;
  margin-left : auto;

  opacity: 0;
  transition: all 200ms ease-out;
}

.item-content:hover .item-button-section,
.item-state:checked + .item-content .item-button-section {
  opacity: 1;
} 

.conteiner button,
.item-button-section button {
  cursor: pointer;
  font-weight: bold;

  background-color: transparent;
  color: var(--font-color);

  height:  2rem;
  width:  2rem;

  border: none;
  border-radius: 8px;
  transition: all 200ms ease-out;
}

.conteiner button:hover,
.item-button-section button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/* Project tap */
.project-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;

  border-radius: var(--border);
  color: #5f6264;
}


.project-tab.selected {
  background-color: #DDE0E4;
  text-decoration: underline;
  font-weight: bold;
}

.project-tab button {
  opacity: 0;
  height: 1.2rem;
  width: 1.2rem;

  border: none;
  border-radius: 100px;

  color: #DDE0E4;
  background-color: var(--font-color);
}

.project-tab:hover button,
.project-tab.selected button {
  opacity: 1;
}

.project-tab,
.project-tab button {
  transition: all 200ms ease-out;
}
.modal-wrapper {
  position: absolute;
  display: none;

  min-width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal {
  margin: 0 auto;
  width: 90%;
  max-width: 400px;

  padding: 1rem 2rem;
  background-color: white;

  border-radius: 4px;

  font-size: 1.2rem;
}

.modal label {
  display: inline-block;
}

.modal input,
.modal textarea {
  width: 100%;
  padding: .25em .5em;
}

.modal textarea {
  resize: vertical;
  height: 10rem;
}

.modal button {
  font-size: inherit;
  padding: 0.5rem;

  color: white;
  background-color: var(--font-color);

  border: none;
  border-radius: var(--border);
}

.modal > * {
  margin: 1rem 0;
}