@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;

  --primary-color: #4A8EF9;
  --bg-light: white;
  --bg-neutral: #F2F5F7;
  --font-color: #171717;

  --toggle-size: 1.5rem;
  --spacing: .5rem;
  --border: 2px;
}

body {
  display: flex;
  background-color: var(--bg-light);
}

#menu {
  display: flex;
  flex-direction: column;

  min-width: 15rem;
  min-height: 100vh;
  padding: 1rem 2rem;

  background-color: var(--bg-neutral);
}

#menu__projects {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;
}

#workspace {
  width: 100%;
  max-width: 800px;
  padding: 2rem 4rem;
  margin: 0 auto;
}

.project-info {
  max-width: 400px;
}

.conteiner {
  display: flex;
  align-items: center;
  gap:var(--spacing);
}

.item-content {
  --priority-color: var(--primary-color);

  display: block;  
  background-color: var(--bg-light);

  border-radius: var(--border) 0 0 var(--border);
  border-right: 8px solid var(--priority-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

  margin: 1rem 0;
  padding: var(--spacing);

  transition: all 200ms ease-in;
}

.item-content.priority-0 {
  --priority-color:blue;
}

.item-content.priority-1 {
  --priority-color:green;
}

.item-content.priority-2 {
  --priority-color:red;
}

.item-state {
  display: none;
}

.item-resume {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

.item-more-info {
  display: flex;
  flex-direction: column;
  
  margin-left: calc(var(--spacing) + 1.6rem);
  gap:var(--spacing);

  transform-origin: top;
  transition: all 100ms ease-in;
}

.item-state:checked + .item-content {
  transform: translateX(10px);
}

.item-state:not(:checked) + .item-content .item-more-info {
  overflow: hidden;
  height: 0;
}

.item-toggle {
  width: var(--toggle-size);
  height: var(--toggle-size);
  border: 2px solid black;
  border-radius: var(--border);
  background-color: transparent;
}

.item-toggle[data-checked="true"]::before {
  content: '✔️';
}

.item-toggle[data-checked="true"] + * {
  text-decoration: line-through;
}

.item-button-section {
  display: flex;
  gap: 0.25rem;
  margin-left : auto;

  opacity: 0;
  transition: all 200ms ease-out;
}

.item-content:hover .item-button-section,
.item-state:checked + .item-content .item-button-section {
  opacity: 1;
} 

.item-button-section button {
  cursor: pointer;
  font-weight: bold;

  background-color: transparent;
  color: var(--font-color);

  height:  2rem;
  width:  2rem;

    border: none;
    border-radius: 8px;
  transition: all 200ms ease-out;
}

.item-button-section button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.modal-wrapper {
  position: absolute;
  display: none;

  min-width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal {
  margin: 0 auto;
  width: 90%;
  max-width: 400px;

  padding: 1rem 2rem;
  background-color: white;

  border-radius: 4px;
}

.modal label,
.modal input,
.modal textarea {
  display: block;
}